.current-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 210px;
  min-height: 255px;
  border-radius: 10px;
  margin: 0 30px;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 5px 8px 0px, rgb(0 0 0 / 12%) 0px 1px 14px 0px;
}
.date-container {
  text-align: center;
}
.city{
  text-align: center;
  margin-bottom: 10px;
}
.day {
  font-size: 28px;
  margin-bottom: 5px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  text-align: center;
  margin: 10px 0;
}
.temps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.current-temp,
.feels-like {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.temp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
