@import "~antd/dist/reset.css";

/* make responsive */
.App {
  text-align: center;
}

body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 1240px; */
  /* min-width: 350px; */
  font-family: "Roboto", sans-serif;
  font-family: "Oswald", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}




